body{

}
.container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: linear-gradient(255.35deg, #DC3131 0.83%, rgba(255, 79, 79, 0) 108.93%), #FF5E56;
    min-height: 800px;
    min-width: 1440px;
    outline: none;
    border: 0;
    text-decoration: none;
}

@media (max-width: 768px) {
    .container{
        min-height: 1024px;
        min-width: 728px;
    }

}
@media (max-width: 330px) {
    .container{
        min-height: 568px;
        min-width: 320px;
    }

}

