.button{
    margin: 0 auto;
    min-width: 198px;
    min-height: 56px;
    border: 1px solid #ffffff;
    background:none;
    color: #ffffff;
    border-radius: 5%;
    font-family: Lab Grotesque,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    outline: none;

}
.button:hover {
    transition: 500ms;
    color: black;
    background-color: white;
}
.container{
    display: flex;
    align-items: center;
    text-align: center;
    background: linear-gradient(255.35deg, #DC3131 0.83%, rgba(255, 79, 79, 0) 108.93%), #FF5E56;
    min-height: 800px;
    min-width: 1440px;
    outline: none;
    border: 0;
    text-decoration: none;
}